html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.bigTitle {
    background-color: #010A1B;
    border-bottom: 2px solid rgba(0, 111, 233, 0.48);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bigTitle>img {
    margin-left: 35px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nowDate {
    width: 120px;
    padding-right: 8px;
}

.nowDate div {
    color: rgba(255, 255, 255, 1);
    font: bold 16px/28px Source Han Sans SC;
    letter-spacing: 1px;
}

.nowDate #nowTime {
    margin-left: 5px;
    color: #3797FF;
}

#nowDate {
    font: normal 18px/22px Source Han Sans SC;
}

.timer {
    padding: 0 8px 0 0;
    width: 242px;
    color: rgba(255, 255, 255, 1);
    font: bold 22px/35px Source Han Sans SC;
}

.timer span:first-child {
    color: #35FFFA;
    font: bold 18px/28px Source Han Sans SC;
}

.flicker {
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#meetingHour,
#meetingMin,
#meetingSec {
    background: url(../assets/num.png);
    background-size: 24px 36px;
    letter-spacing: 11px;
    display: inline-block;
    width: 45px;
    padding-left: 5px;
}

.dot {
    position: absolute;
}